@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
 }

 ol li {
	list-style-position:outside;
	white-space: pre-wrap;
 }

 body {
	background: #007bff;

	font-size: 17px;
	font-weight: 400;
	line-height: 1.25;
 }

 .start-btn,
 .info-box,
 .quiz-box,
 .result-box {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);

	 box-shadow:	0px 4px 8px 0px rgba(0, 0, 0, 0.2),
	 					0px 6px 20px 0px rgba(0, 0, 0, 0.19);

	transition: all 0.3s ease;
 }

 .info-box.activeInfo,
 .quiz-box.activeQuiz {
	 z-index: 5;
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
 }

 /* Start Quiz Button */

 .start-btn button {
	 font-size: 25px;
	 font-weight: 500;
	 color: #007bff;
	 padding: 15px 30px;
	 outline: none;
	 border: none;
	 border-radius: 5px;
	 background: #fff;
	 cursor: pointer;
 }

 .info-box {
	 width: 540px;
	 background: #fff;
	 border-radius: 5px;

	 opacity: 0;
	 pointer-events: none;
	 transform: translate(-50%, -50%) scale(0.9);
 }

 .info-box .info-title {
	font-size: 20px;
	font-weight: 600;

	display: flex;
	align-items: center;
	padding: 0 30px;
	height: 60px;
	width: 100%;

	border-bottom: 1px solid lightgray;
 }

 .info-box .info-list {
	 padding: 15px 35px 15px 55px;
 }
 
 .info-box .info-list .info {
	margin: 5px 0;
	font-size: 17px;
 }

 .info-box .info-list .info span {
	 font-weight: 600;
	 color: #007bff;
 }

 .info-box .buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	height: 60px;
	padding: 0 35px;
	
	border-top: 1px solid lightgray;
 }

 .info-box .buttons button {
	 margin: 0 5px;
	 height: 40px;
	 width: 100px;
	 border: 1px solid #007bff;
	 border-radius: 5px;
	 color: #fff;
	 font-size: 16px;
	 font-weight: 600;
	 cursor: pointer;
	 outline: none;

	 transition: all 0.3s ease;
 }

 .buttons button.quit {
	 color: #007bff;
 }

 .buttons button.quit:hover {
	color: #fff;
	background: #007bff;
}

 .buttons button.restart {
	color: #fff;
	background: #007bff;
}

.buttons button.restart:hover {
	background: #0263ca;
}

.quiz-box {
	width: 550px;
	background: #fff;
	border-radius: 5px;

	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
}

.quiz-box header {
	height: 70px;
	padding: 0 30px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px 5px 0 0;

	user-select: none;

	position: relative;
	z-index: 999;
	box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz-box header .title {
	font-size: 20px;
	font-weight: 600;
}

.quiz-box header .timer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 145px;
	height: 45px;
	background: #cce5ff;
	border: 1px solid #b8daff;
	border-radius: 5px;
	padding: 0 8px;
}

.quiz-box header .timer .time-text {
	font-size: 14px;
	font-weight: 500;
	user-select: none;
}

.quiz-box header .timer .timer-sec {
	font-size: 18px;
	font-weight: 500;
	background: #343a40;
	width: 45px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid #343a40;
	user-select: none;
}

.quiz-box section {
	padding: 25px 30px 20px 30px;
	background: #fff;
}

.quiz-box section ul {
	list-style: none;
}

.quiz-box section .que-text {
	font-size: 25px;
	font-weight: 600;
	
}

.quiz-box section .option-list {
	padding: 20px 0;
	display: block;
}

section .option-list .option {
	font-size: 17px;
	background: aliceblue;
	border: 1px solid #84c5fe;
	border-radius: 5px;
	padding: 8px 15px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	transition: all 0.3s ease;
}

section .option-list .option:hover {
	color: #004085;
	background: #cce5ff;
	border-color: #b8daff;
}

section .option-list .option:last-child {
	margin-bottom: 0;
}

.option-list .option .icon {
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 26px;
	width: 26px;
	border: 2px solid transparent;
	border-radius: 50%;
	pointer-events: none;
}

.option-list .option .icon.tick {
	color: #239023;
	border-color: #23903c;
	background: #d4edda;
}

.option-list .option .icon.cross {
	color: #a4283a;
	border-color: #a4283a;
	background: #f8d7da;
}

.quiz-box footer {
	width: 100%;
	height: 60px;
	padding: 0 30px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.quiz-box footer .total-que span {
	display: flex;

	user-select: none;
}

footer .total-que span p {
	font-weight: 500;
	padding: 0 5px;
}

footer .total-que span p:first-child {
	padding-left: 0;
}

footer .next-btn {
	height: 40px;
	padding: 0 13px;
	font-size: 18px;
	font-weight: 400;
	border: none;
	outline: none;
	color: #fff;
	background: #007bff;
	border-radius: 5px;
	border: 1px solid #007bff;
	cursor: pointer;

	transition: all 0.3s ease;
}

footer .next-btn:hover {
	background: #0263ca;
}

.result-box {
	background: #fff;
	width: 450px;
	padding: 25px 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0.9);
}

.result-box .icon {
	font-size: 100px;
	color: #007bff;
	margin-bottom: 10px;
}

.result-box .complete-text {
	font-size: 20px;
	font-weight: 500;
}

.result-box .score-text span {
	display: flex;
	margin: 10px 0;
	font-size: 18px;
	font-weight: 500;
}

.score-text span p {
	font-weight: 600;
	padding: 0 4px;
}

.result-box .buttons {
	display: flex;
	margin: 20px 0;
}

.result-box .buttons button {
	margin: 0 10px;
	height: 40px;
	padding: 0 20px;
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	border: 1px solid #007bff;
	cursor: pointer;
	transition: all 0.3s ease;
}